body{
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

circle.node {
  stroke: #999;
  stroke-width: 1.5px;
}

.storyHeading{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 800px;
	height: 40px;
}

.node {
  font: 12px sans-serif;
}

/*div{
	top: 50px;
	left: 100px;
}*/

div.node {
  border-radius: 6px;
  width: 50px;
  /*height: 12px;
  margin: -6px 0 0 -6px;*/
  position: absolute;
}

div.navbar {
  /*border-radius: 6px;*/
  height: 50px;
}

div.link {
  position: absolute;
  border-bottom: solid #666 1px;
  height: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

line.link {
  stroke: #000;
  stroke-opacity: .6;
}

.tropeBar{
	position: relative;
	font-size:11px;
	top: 10px;
	left: 15px;
	width: 400px;
	height: 300px;
}

.charBar{
	position: relative;
	font-size:11px;
	top: 30px;
	left: 15px;
	width: 400px;
	height: 300px;
}

rect{
	fill:none;
	stroke-width:0.5;
	stroke:black;
}

line.axis {
	stroke:black;
	stroke-width: 1;
	fill:none;
}

/*.rule line {
	stroke:#eee;
	stroke-width: 5;
}

.rule line.axis {
	stroke:#ccc;
	stroke-width:2;
}*/